<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.22217 0.10229 0.24666"
        rpy="0 0 0" />
      <mass
        value="3.4477" />
      <inertia
        ixx="0.013724"
        ixy="-0.0002658"
        ixz="0.00058984"
        iyy="0.010995"
        iyz="0.0017053"
        izz="0.012008" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="turntable">
    <inertial>
      <origin
        xyz="-0.0050998 0.098723 -0.0027132"
        rpy="0 0 0" />
      <mass
        value="1.2414" />
      <inertia
        ixx="0.0021904"
        ixy="-3.6983E-05"
        ixz="-0.00098133"
        iyy="0.0036748"
        iyz="-2.0757E-05"
        izz="0.0033882" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/turntable.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/turntable.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turntable"
    type="revolute">
    <origin
      xyz="0.45345 0.166 0.24526"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="turntable" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="1st link">
    <inertial>
      <origin
        xyz="-0.092496 0.086648 -0.051806"
        rpy="0 0 0" />
      <mass
        value="1.8407" />
      <inertia
        ixx="0.0077636"
        ixy="0.0044973"
        ixz="-0.0028212"
        iyy="0.0073412"
        iyz="0.002524"
        izz="0.011206" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/1st link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/1st link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1st link"
    type="fixed">
    <origin
      xyz="0.074167 0.19772 0.041626"
      rpy="0 0 0" />
    <parent
      link="turntable" />
    <child
      link="1st link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="2nd link">
    <inertial>
      <origin
        xyz="0.081582 0.083889 0.059568"
        rpy="0 0 0" />
      <mass
        value="0.96031" />
      <inertia
        ixx="0.0010107"
        ixy="-0.00027564"
        ixz="-0.0002081"
        iyy="0.0010002"
        iyz="-0.00015374"
        izz="0.0012632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/2nd link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/2nd link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2nd link"
    type="fixed">
    <origin
      xyz="-0.26523 0.29511 -0.1523"
      rpy="0 0 0" />
    <parent
      link="1st link" />
    <child
      link="2nd link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="ypr pitch">
    <inertial>
      <origin
        xyz="-0.008307 0.0070028 0.025092"
        rpy="0 0 0" />
      <mass
        value="0.21134" />
      <inertia
        ixx="0.00012543"
        ixy="-1.197E-05"
        ixz="-1.5292E-05"
        iyy="0.00010762"
        iyz="-6.7327E-06"
        izz="0.00014407" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ypr pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ypr pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="0.22268 0.19482 0.092911"
      rpy="0 0 0" />
    <parent
      link="2nd link" />
    <child
      link="ypr pitch" />
    <axis
      xyz="-0.48941 0 0.87205" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ypr roll">
    <inertial>
      <origin
        xyz="0.050513 0.063002 0.010477"
        rpy="0 0 0" />
      <mass
        value="0.68469" />
      <inertia
        ixx="0.00089963"
        ixy="-0.00011033"
        ixz="0.00014337"
        iyy="0.00085801"
        iyz="-0.00017518"
        izz="0.00082592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ypr roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ypr roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="roll"
    type="revolute">
    <origin
      xyz="0.0064818 0.030526 0.033306"
      rpy="0 0 0" />
    <parent
      link="ypr pitch" />
    <child
      link="ypr roll" />
    <axis
      xyz="0.50916 0.81185 0.28575" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>